<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block style %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        body { padding-top: 80px;}
    </style>
    {% endblock style %}
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>

    <!-- navbar header -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">SITENAME</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div>

    <!-- main content -->
     <div class="container">
        {% block main %}
        {% endblock main %}
     </div>

    {% block js %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% endblock js %}
</body>
</html>